<!--TODO: passing data into template-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="main-content">
    <div class="header">
        <a href="https://devalarm.com"><img alt="DevAlarm" src="email-img/logo.png" style="height: 30px; width: 165px; margin-bottom: 20px;"></a>
        <b style="color: #555555;"> <br> A customisable change alarm for GitHub repositories. </b>
    </div>
    <div class="email-subject">
        <div class="heading-flag">
            <b style="margin-top: 0">Modification Alert</b>
        </div>
    </div>
    <div class="welcome-body">
        <h2>Hi, {{name}}!</h2>
        <p style="line-height: 30px;">A file has been changed</p>
    </div>
    <div class="digest-items">
        <h2 class="section-heading">File Changes</h2>
        <p style="text-align: left">The file, {{fileName}}, has been modified.</p>
        <table>
            <thead>
            <td class="l">Repository</td>
            <td class="c">File Name</td>
            <td class="r">Contributor</td>
            </thead>
            <!-- links to repo dashboard on devalarm -->
            <tr class="list-item" onclick="window.location = {{devalarmFileView}};">
                <td class="l">{{repoName}}</td>
                <td class="c">{{fileName}}</td>
                <td class="r">{{contributor}}</td>
            </tr>
        </table>
    </div>
    <div class="footer">
        <p><a class="footer-links" href="">About</a></p>
        <p><a class="footer-links" href="https://devalarm.com/">Home</a></p>
        <p><a class="footer-links" href="">Contact</a></p>
    </div>
</div>
</body>
</html>
<style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Comfortaa');

    :root {
        --color-1: #89CEAD;
        --color-2: #5EA985;
        --color-3: #FFFFFF;
        --color-4: #30A3E5;
        --color-5: #FFA0A0;
        /* https://coolors.co/efc7c2-ffe5d4-bfd3c1-68a691-694f5d */
    }

    body, html {
        font-family: "Open Sans", sans-serif;
        padding: 0;
        margin: 0;
        height: 100%;
        background: #eeeeee;
        overflow: scroll;
        position: relative;
        width: 100%;
        text-align: center;
        align-content: center;
    }

    .main-content {
        width: 700px;
        background-color: white;
        color: black;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: calc(50% - 350px);
        padding-top: 20px;
    }
