<!--TODO: passing data into template-->
<!DOCTYPE html>
<html lang="en" style="align-content: center">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=700px, initial-scale=1.0, maximum-scale:1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <title>Document</title>
</head>
<body style="font-family: 'Open Sans', sans-serif; margin: 0; height: 100%; background: #eeeeee; overflow: scroll; position: relative; width: 100%; text-align: center; align-content: center; align-items: center; padding: 0 0 0 calc(50% - 350px);">
<div class="main-content" style=" width: 700px; background-color: white; color: black; margin-top: 50px; margin-bottom: 50px; padding-top: 20px; position: absolute">
    <div class="header" style=" margin-bottom: 20px;">
        <a href="https://devalarm.com"><img alt="DevAlarm" src="cid:logo.png" style="height: 30px; width: 165px; margin-bottom: 20px;"></a>
        <b style="color: #555555;"> <br> A customisable change alarm for GitHub repositories. </b>
    </div>
    <div class="email-subject" style="height: 100px; background-color: #9ee8c4; z-index: 1;">
        <img src="cid:weekly-banner.png" style="width: 700px; left: 0; top: 0; z-index: 1">
    </div>
    <div class="welcome-body" style="text-align: center; padding: 40px; border-bottom: solid #eeeeee; border-bottom-width: 2px;">
        <h1>Hi, {{name}}!</h1>
        <p style="line-height: 30px; font-size: 14pt;">Here's your weekly digest!</p>
        <p style="line-height: 30px; font-size: 14pt; color:#555555;">{{dateAndDay}}</p>
    </div>
    <div class="digest-items" style="padding: 15px 40px 40px; text-align: center; border-bottom: solid #eeeeee; border-bottom-width: 2px;">
        <h2 class="section-heading" style="color: #424242;">File Changes</h2>
        <p style="text-align: left; font-size: 12px;">Here are the file changes that have occurred this week.</p>
        <table style="border-collapse: collapse; background: white; border-radius: 10px; overflow: hidden; width: 100%; margin: 0 auto; position: relative;">
            <thead style="padding: 15px; height: 60px; background: #5EA985; color: white; font-size: 15px">
            <td style="padding: 15px;">Repository</td>
            <td style="padding: 15px;">File Name</td>
            <td style="padding: 15px;">Contributor</td>
            </thead>
            {{#each fileChanges}}
                <!-- links to repo dashboard on devalarm -->
                <tr class="list-item" style="height: 50px; cursor: pointer; background-color: #f5f5f5; font-size: 15px; color: black; line-height: 1.2; font-weight: unset;" onclick="window.location = '{{devalarmDashboard}}';">
                    <td style="padding: 15px;"><a href="{{devalarmDashboard}}" style="text-decoration: none; color: #30A3E5;">{{repoName}}</a></td>
                    <td style="padding: 15px;">{{fileName}}</td>
                    <td style="padding: 15px;">{{contributors}}</td>
                </tr>
            {{/each}}
        </table>
    </div>
    <div class="digest-items" style="padding: 15px 40px 40px; text-align: center; border-bottom: solid #eeeeee; border-bottom-width: 2px;">
        <h2 class="section-heading" style="color: #424242;">Issues</h2>
        <p style="text-align: left; font-size: 12px;">Here are the issues that have been opened this week.</p>
        <table style="border-collapse: collapse; background: white; border-radius: 10px; overflow: hidden; width: 100%; margin: 0 auto; position: relative;">
            <thead style="padding: 15px; height: 60px; background: #5EA985; color: white; font-size: 15px;">
            <td style="padding: 15px;">Repository</td>
            <td style="padding: 15px;">Issue</td>
            <td style="padding: 15px;">Opened By</td>
            </thead>
            {{#each issues}}
                <!-- links to repo dashboard on devalarm -->
                <tr class="list-item" style="height: 50px; cursor: pointer; background-color: #f5f5f5; font-size: 15px; line-height: 1.2;">
                    <td style="padding: 15px;"><a href="{{devalarmDashboard}}" style="text-decoration: none; color: #30A3E5;">{{repoName}}</a></td>
                    <td style="padding: 15px;">{{issue}}</td>
                    <td style="padding: 15px;">{{openedBy}}</td>
                </tr>
            {{/each}}
        </table>
    </div>
    <div class="footer" style="text-align: center; background: #424242; color: white; padding: 20px;">
        <p><a class="footer-links" href="" style="color: white; text-decoration: none" onmouseover="this.style.color='#FFA0A0'" onmouseout="this.style.color='#ffffff'">About</a></p>
        <p><a class="footer-links" href="https://devalarm.com/" style="color: white; text-decoration: none" onmouseover="this.style.color='#FFA0A0'" onmouseout="this.style.color='#ffffff'">Home</a></p>
        <p><a class="footer-links" href="" style="color: white; text-decoration: none" onmouseover="this.style.color='#FFA0A0'" onmouseout="this.style.color='#ffffff'">Contact</a></p>
    </div>
</div>
</body>
</html>